{% extends 'main.html' %}

{% block content %}
    <form method="get" action="{% url 'search' %}">
        <input type="text" name="q" placeholder="Enter your KCET rank" value="{{ request.GET.q }}">
        <button type="submit">Search</button>
    </form>

    {% if query %}
        {% if results %}
        <div style="text-align: center;">
            <p style="font-size: 20px;"><strong>You may get "{{results.name}}" college and "{{results.branch}}" branch</strong></p>
        </div>
        {% endif %}

        {% if error %}
        <div style="text-align: center;">
            <p style="font-size: 20px;">{{error}}</p>
        </div>
        {% endif %}
    {% endif %}

{% endblock %}
